
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  position: absolute;
  z-index: 1000;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#load-cont {
  height: 100vh;
  width: 100vw;
  margin: 0;
  margin-top: 0;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  background: #f3f3f3;
}

body {
  margin-top: 20px;
  width: 90%;
  max-width: 110vw;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background: url(img/header.jpeg);
  background-size: 170%;
  transition: all 2s;
  animation: bg 40s linear infinite alternate;

}

h1 {
  font-size: 5em;
  /*margin: 20px auto;*/
  color: #fff;
  margin-left: 20px;
  -webkit-text-stroke: 2px #333;
  /*text-shadow: #333 5px 3px;*/
  font-family: "Helvetica", "Arial", "Sans-Serif";

  padding: 0;
}

header {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  top: 0;
  left: 0;
  /*background: linear-gradient(90deg, #ff3333, #f3f333, #f00ff3, #f16220);

  background-clip: text;*/

  width: 100%;

  height: 10vh;
}
@keyframes bg {
  0% {
    background-position: top left;
    /*background-size: 100%;
  */
  }
  100% {
    background-position: bottom right;
    /*background-size: 170%;
 */
  }
}

p,
button,
input {
  font-size: 1em;
  line-height: 1em;
  color: transparent;
  color: #920505;
  
  margin-bottom: 0.5em;
  margin-left: 20px;
  font-weight: 700;
  position: relative;
}

#info {
  background: linear-gradient(
    90deg,
  
    #42baff,
    #973dfd,#42baff

  
  );
  opacity: .95;
  width: 33vw;
  border-radius: 15px;
  background-size: 300%;
  padding-top: 20px;
  padding-bottom: 20px;
   margin-top: 5%;
  /*background-clip: text;*/
  animation: bgt 12s linear infinite alternate;*/
}
#torpedo {
  color: rgb(26, 243, 26);
  font-size: 2em;
}
@keyframes bgt {
  0% {
    background-position: 0 0;

    /*background-size: 100%;
	  */
  }
  100% {
    background-position: 200% 200%;

    /*background-size: 170%;
	 */
  }
}
#gameboard {
  position: absolute;
  margin: 0 auto 2em auto;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  left: 35%;
  top: 25%;
}

#gameboard div {
  position: absolute;
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box; /* Firefox 1 - 28 */
  box-sizing: border-box; /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
  background: #f6f8f9; /* Old browsers */
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
}
#intro{
	display: block;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index:5;
	top:0;
	transition: all 2s ease;
	left: 0;
	background:#333;
	background: url(img/intro.jpg);
	background-size: 100%;
	background-position:0% 55%;
}
.credit{
  background: #f3f3f3;
  height: 30px;
  width: 50%;
  left: 25%;
	margin: 0 auto;
	text-align: center;
	top: 45vh;
	font-size: 20px;
	color: #5ce600;
	margin: 10px;
}
.credit a{
  text-decoration: none;
  line-height: 30px;
	color: #0f9ff3;
}
.credit a:hover{
	color:#ff5c33;
}
#start{
	background: #333;
	color: #ddd;
	width: 100px;
	height: 30px;
	padding:10px;
	margin: 0 auto;
	top: 20vh;
	text-align: center;
	line-height: 25px;
	font-weight: 800;
	font-size: 32px;
}
#start:hover{
	
	
	cursor: pointer;
	animation: glow 1s linear infinite alternate;
}

@-webkit-keyframes glow {
	from {
		color:#333;
	  text-shadow: 0 0 0px #fff, 0 0 4px #fff, 0 0 6px #5ce600, 0 0 8px #5ce600;
	}
	
	to {
		
		color:#333;
	  text-shadow: 0 0 6px #fff, 0 0 8px #5ce600, 0 0 10px #5ce600, 0 0 12px #5ce600, 0 0 14px #5ce600, 0 0 16px #5ce600, 0 0 18px #5ce600;
	}
  }



  h2 {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: calc(20px + 5vw);
    font-weight: 700;
    color: #fff;
	letter-spacing: 0.02em;
	margin-left: 50vw;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #f84141;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
}

h2 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

h2::before,
h2::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

h2::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

h2::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}
#end{
	position: absolute;
	z-index:10;
	display: block;
	width: 50vw;
	height: 70vh;
	background: #f6f8f9;
	margin: 100px auto;
	font-size: 44px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  margin-left: 25%;
}
#try{
  top:70%;
  color: #f6f8f9;
}
#try:hover{
	cursor:pointer;
	color: rgb(255, 67, 9);
	animation: quake .5s linear alternate infinite ;
}
@keyframes quake{
	0%{
		left:1%;
	}
	25%{
		transform: rotate(-10deg);
	}
	
	100%{
		left:-1%;
		transform: rotate(10deg);
	}
	
}
#final{
	
	height: 20px;
  top:50%;
  color: rgb(58, 255, 117);
  border-bottom:20px solid #0f9ff3;
  margin-left: 0;
}

@media only screen and (min-device-width : 320px) and (max-width: 780px) {
  #gameboard {
    position: absolute;
    margin: 0 auto 2em auto;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    left: 35%;
    top: 15%;
  }
  
  #gameboard div {
    position: absolute;
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box; /* Firefox 1 - 28 */
    box-sizing: border-box; /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
    background: #f6f8f9; /* Old browsers */
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
  }

  #intro{
    
    background: url(img/mobintro.jpg) !important;;
  
    background-position:center;
    background-size: initial;
  }
.credit{
  font-size: 14px;
  width: 70%;
left: 15%;
}
body{
  background-position:top;
  background-size: 0;
  animation: bodyslide 40s linear infinite alternate !important;;
}

@keyframes bodyslide{
  0%{
    background: url(img/mobheader1.jpeg);
  }
  20%{
    background: url(img/mobheader2.jpeg);
  }
  40%{
    background: url(img/mobheader3.jpeg);
  }
  60%{
    background: url(img/mobheader4.jpeg);
  }
  80%{
    background: url(img/mobheader5.jpeg);
  }
  100%{
    background: url(img/mobheader6.jpeg);
  }

}}
